@{
  Layout = "_Layout";
}
<form action="/places" method="post">
  <label for="cityName">Add a new item</label>
  <input id="cityName" name="cityName" type="text">
  <label for="description">Add a new item</label>
  <input id="description" name="description" type="text">
  <label for="image">Add image http</label>
  <input id="image" name="image" type="text">
  <button type="submit">Submit</button>
</form>